.elementor-panel .elementor-element .icon i.givewp-icon:before {
    font-family: 'give-icomoon';
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    content: "\e800";
    font-style: normal;
}