.elementor-panel .elementor-element .icon i.dw4elementor-icon:before {
    font-family: 'give-icomoon';
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    content: "\e800";
    font-style: normal;
}

.elementor-control-content .elementor-control-raw-html [class*="dw4e-notice"] {
    position: relative;
    padding-top: 2.5rem;
    margin: 10px 0px;
    padding: 2.25rem 0.85rem 0.85rem;
}

.elementor-control-content .elementor-control-raw-html [class*="dw4e-notice"] .notice-head {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0.5rem;
    text-align: center;
    font-weight: 700;
}

.elementor-control-content .elementor-control-raw-html [class*="dw4e-notice"] .notice-message {
    line-height: 1.25;
}

[class*="elementor-control"] .dw4e-info {
    background-color: #68bb6c;
    color: white;
    border-radius: 8px;
    padding: 10px 12px;
    line-height: 1.5;
    position: relative;
    font-size: 0.75rem;
}

[class*="elementor-control"] .dw4e-info .info-head {
    line-height: 2;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba(50,50,50,0.5);
}

[class*="elementor-control"] .dw4e-info .dw4e-docs-links {
    position: relative;
    width: calc(100% + 24px);
    left: -12px;
    bottom: -10px;
    padding: 12px;
    border-radius: 0  0 8px 8px;
    background-color: #a4d6a6;
}

[class*="elementor-control"] .dw4e-info .dw4e-docs-links a {
    color: #333;
    line-height: 1.15rem;
}

[class*="elementor-control"] .dw4e-info .dw4e-docs-links a i {
    font-size: 2rem;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.dw4e-notice-warning {
    color: #9F6000;
    background-color: #FEEFB3; 
}

.dw4e-notice-warning .notice-head {
    color: white;
    background: #9F6000;
}

.dw4e-notice-success {
    color: #3c763d;
    background-color: #dff0d8; 
}

.dw4e-notice-success .notice-head {
    color: white;
    background: #3c763d;
}

.dw4e-notice-warning .notice-message {
    line-height: 1.25;
}

.elementor-control-all_forms .elementor-choices input:checked+[data-tooltip="Yes"] {
    background: #8BC34A;
}

.elementor-control-all_forms .elementor-choices input:checked+[data-tooltip="No"] {
    background: #c13f16;
}

/*
 * Hide Link Options 
 * Until this issue is resolved:
 * https://github.com/elementor/elementor/issues/11214
 * 
 */

.elementor-control-give_register_settings + .elementor-control-link .elementor-control-url-more,
.elementor-control-give_login_settings + .elementor-control-login_url .elementor-control-url-more {
     display: none;
 }